* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-synthesis: none;
  -webkit-text-size-adjust: 100%;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}